<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MtrServicesSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="MtrServicesSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44399/MtrServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="MtrServicesSoap"
                contract="MtrServices.MtrServicesSoap" name="MtrServicesSoap" />
        </client>
    </system.serviceModel>
</configuration>